@tailwind base;
@tailwind components;
@tailwind utilities;

/* Для экранов шириной до 1000px */
@media (max-width: 999px) {
    .border_radius_footer {
        border-radius: 40px 40px 0px 0px; /* Стиль для мобильных устройств */
    }
}

/* Для экранов шириной больше 1000px */
@media (min-width: 1000px) {
    .border_radius_footer {
        border-radius: 100px 100px 0px 0px; /* Стиль для больших экранов */
    }
}

@media (max-width: 999px) {
    .border_radius_content_marketing {
        border-radius: 0px 0px 30px 30px;
    }
}

@media (min-width: 1000px) {
    .border_radius_content_marketing {
        border-radius: 0px 0px 60px 60px;
    }
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

/* Стили для главного вертикального скроллбара */
  html {
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: #ff0000 #000; /* Цвет для Firefox */
  }
  
  html::-webkit-scrollbar {
    width: 12px; 
  }
  
  html::-webkit-scrollbar-track {
    background: #000; /* Цвет фона трека */
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* Цвет ползунка */
    border: 3px solid #000; /* Внутренний отступ */
  }
  
