@tailwind base;
@tailwind components;
@tailwind utilities;

/* Для экранов шириной до 1000px */
@media (max-width: 999px) {
    .border_radius_footer {
        border-radius: 40px 40px 0px 0px; /* Стиль для мобильных устройств */
    }
}

/* Для экранов шириной больше 1000px */
@media (min-width: 1000px) {
    .border_radius_footer {
        border-radius: 100px 100px 0px 0px; /* Стиль для больших экранов */
    }
}


.border_radius_content_marketing {
    border-radius: 0px 0px 30px 30px;
}

.border_radius_content_marketing_background {
    border-radius: 0px 0px 60px 60px;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


